# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore output files but keep .gitkeep
output/
!output/.gitkeep
output/finalpdf/
!output/finalpdf/.gitkeep

# Ignore transcriptions but keep .gitkeep
transcriptions/
!transcriptions/.gitkeep

# Ignore audio files
*.wav
*.mp3
*.aac

# Ignore PDFs
*.pdf
